@import '../../base';

.register-buttons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

@media screen and (max-width: $bp-medium) {
  .register-buttons {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 100%;
  }

  .form-field.flex {
    flex-direction: column;
    gap: 0.125rem;
  }

  .form-field.flex.register-actions {
    padding-right: 0;
  }
}