<div class="w-75">
    <div class="form-container">
  
      <h2>{{ 'register.heading' | translate }}</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
        <div class="form-field flex">
          <div class="w-25">
            <label for="personName" class="form-label pt">{{ 'register.label.personName' | translate }}</label>
          </div>
  
          <div class="flex-1">
            <input type="text" id="personName" class="form-input" formControlName="personName" />
            @if((personNameControl?.touched 
            || isRegisterFormSubmitted) 
            && (personNameControl?.errors?.['required'])){
                <span class="text-red">{{ 'errors.personNameRequired' | translate }}</span>
            }
          </div>
        </div>
  
        <div class="form-field flex">
          <div class="w-25">
            <label for="email" class="form-label pt">{{ 'register.label.email' | translate }}</label>
          </div>
  
        <div class="flex-1">
            <input type="text" id="email" class="form-input" formControlName="email" />
            @if((emailControl?.touched 
            || isRegisterFormSubmitted) 
            && (emailControl?.errors?.['required'])){
                <span class="text-red">{{ 'errors.emailRequired' | translate }}</span>
            }
            
            @if((emailControl?.touched 
            || isRegisterFormSubmitted) 
            && (emailControl?.errors?.['email'])){
                <span class="text-red">{{ 'errors.emailInvalid' | translate }}</span>
            }
          </div>
        </div>
  
        <div class="form-field flex">
          <div class="w-25">
            <label for="password" class="form-label pt">{{ 'register.label.password' | translate }}</label>
          </div>
  
          <div class="flex-1">
            <input type="password" id="password" class="form-input" formControlName="password" />
            @if((passwordControl?.touched 
            || isRegisterFormSubmitted) 
            && (passwordControl?.errors?.['required'])){
                <span class="text-red">{{ 'errors.passwordRequired' | translate }}</span>
            }
          </div>
        </div>
  
        <div class="form-field flex">
          <div class="w-25">
            <label for="confirmationPassword" class="form-label pt">{{ 'register.label.confirmPassword' | translate }}</label>
          </div>
  
          <div class="flex-1">
            <input type="password" id="confirmationPassword" class="form-input" formControlName="confirmationPassword" />
            @if((confirmationPasswordControl?.touched 
            || isRegisterFormSubmitted) 
            && (confirmationPasswordControl?.errors?.['required'])){
                <span class="text-red">{{ 'errors.confirmPasswordRequired' | translate }}</span>
            }
            @if((confirmationPasswordControl?.touched 
            || isRegisterFormSubmitted) 
            && (confirmationPasswordControl?.errors?.['compareValidator'])){
                <span class="text-red">{{ 'errors.passwordMismatch' | translate }}</span>
            }
          </div>
        </div>
  
        <div class="form-field flex register-actions">
          <div class="w-25">
          </div>
  
          <div class="register-buttons">
            <button 
              type="submit" 
              class="button button-green-back" 
              [disabled]="isRegisterInProgress || !hasFormChanged()">
              {{ 'register.button.submit' | translate }}
            </button>
            <asl-google-signin-button
              type="standard"
              size="medium"
              shape="pill"
              theme="filled_blue"
            >
            </asl-google-signin-button>
          </div>
        </div>
        
        @if(errorMessage){
          <div class="text-red">
            {{ errorMessage }}
          </div>
        }
      </form>
  
    </div>
  </div>