.actor-details-container {
  margin: 0 auto;
  padding: 20px;
}

.actor-header {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 10px;
}

.actor-photo {
  flex-shrink: 0;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.actor-bio {
  display: flex;
  flex-direction: column;
}

.separator {
  height: 3px;
  background-color: #ddd;
  margin: 40px 0;
}

.actor-movies {
  display: flex;
  flex-direction: column;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
}

.movie-cast {
  margin-top: 50px;
}

.movie-cast h2 {
  margin-bottom: 20px;
}
