<nav class="navbar">
  <h2 class="app-title">FilmShelf</h2>
  <div class="flex-spacer">
    <div class="header-right">
      @if (accountService.isLoggedIn) {
      <div class="notification-section">
        <bell-solid-icon class="bell-icon" (click)="toggleNotificationMenu()" />
        <div class="notification-badge" *ngIf="unreadNotificationsCount() > 0">
          {{ unreadNotificationsCount() }}
        </div>

        <div class="notification-menu" *ngIf="isNotificationMenuVisible">
          <div class="notification-menu-header">
            <h3>{{ 'navbar.notifications.heading' | translate }}</h3>
            @if(unreadNotificationsCount() > 0) {
            <button class="clear-button" (click)="deleteAllNotifications()">
              {{ 'navbar.notifications.clearAll' | translate }}
              <archive-box-solid-icon />
            </button>
            }
          </div>
          <app-notification
            class="notification"
            *ngFor="let notification of notifications"
            [ngClass]="{ unread: !notification.isRead }"
            (notificationClicked)="onNotificationClicked(notification)"
            (notificationDeleted)="onNotificationDeleted(notification)"
            (notificationRead)="onNotificationRead(notification)"
            [notification]="notification"
          ></app-notification>
        </div>
      </div>
      }
      <button class="menu-toggle" (click)="toggleMenu()">
        <bars-3-outline-icon />
      </button>
      <button class="lang-toggle" (click)="languageService.toggleLanguage()">
        {{ languageService.language() === 'en-US' ? 'EN' : 'UA' }}
      </button>
    </div>
    <ul class="nav-links" [class.menu-visible]="isMenuVisible">
      <li>
        <a [routerLink]="['/movies/popular']" routerLinkActive="nav-active">
          {{ 'navbar.nav.popular' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['/movies']" routerLinkActive="nav-active">{{ 'navbar.nav.movies' | translate }}</a>
      </li>
      <li>
        <a
          [routerLink]="['/movies/recommendation-feed']"
          routerLinkActive="nav-active"
        >
          {{ 'navbar.nav.forYou' | translate }}
        </a>
      </li>
      @if(!accountService.isLoggedIn) {
      <li>
        <a [routerLink]="['/login']">{{ 'navbar.nav.login' | translate }}</a>
      </li>
      <li>
        <a [routerLink]="['/register']">{{ 'navbar.nav.register' | translate }}</a>
      </li>
      } @else {
      <li>
        <a [routerLink]="['/watchlist']" class="watchlist">
          <bookmark-solid-icon class="bookmark-icon" />
          {{ 'navbar.nav.watchlist' | translate }}
        </a>
      </li>
      <li
        class="dropdown"
        (click)="toggleDropdown()"
        [class.visible]="isMenuVisible"
      >
        <user-circle-solid-icon class="user-icon" />

        <div class="dropdown-menu" [class.open]="isDropdownOpen">
          <a [routerLink]="['/watchlist']">{{ 'navbar.dropdown.yourWatchlist' | translate }}</a>
          <a [routerLink]="['/lists']">{{ 'navbar.dropdown.yourLists' | translate }}</a>
          <a [routerLink]="['/reviews']">{{ 'navbar.dropdown.yourReviews' | translate }}</a>
          <a (click)="onLogOutClicked()">{{ 'navbar.dropdown.logout' | translate }}</a>
        </div>
      </li>
      }
    </ul>
  </div>
</nav>
