<div class="w-75 margin-auto">
    <div class="form-container">
  
      <h2>Forgot Password</h2>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-field flex">
          <div class="w-25">
            <label for="email" class="form-label pt">Email</label>
          </div>
  
        <div class="flex-1">
            <input type="text" id="email" class="form-input" formControlName="email" />
            @if((emailControl?.touched 
            || isSubmitted) 
            && (emailControl?.errors?.['required'])){
                <span class="text-red">{{ validationErrorMessages.EMAIL_REQUIRED }}</span>
            }
            
            @if((emailControl?.touched 
            || isSubmitted) 
            && (emailControl?.errors?.['email'])){
                <span class="text-red">{{ validationErrorMessages.EMAIL_INVALID }}</span>
            }
          </div>
        </div>
  
        <div class="form-field flex">
          <div class="w-25">
          </div>
  
          <div class="flex-1">
           <button type="submit" class="button button-green-back">Send email</button>
          </div>
        </div>
        
        @if(errorMessage){
          <div class="text-red">
            {{ errorMessage }}
          </div>
        }

        @if(message){
          <div class="text-success">
            {{ message }}
          </div>
        }

      </form>
    </div>
  </div>
