@import '../../base';

.movie-details-container {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

.movie-header {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.movie-poster {
  width: 18.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.movie-genres,
.movie-overview,
.movie-meta,
.movie-rating {
  margin-bottom: 0.938rem;
  line-height: 1.5;
}

.movie-meta {
  display: flex;
  flex-direction: column;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.star-icon {
  color: #f1c40f;
}

.watchlist-button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  padding: 0.313rem 0.625rem;
  border: none;
  border-radius: 0.938rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.watchlist-button:hover {
  transform: scale(1.05);
}

.in-watchlist {
  background-color: #28a745;
}

.in-watchlist:hover {
  background-color: #218838;
}

.not-in-watchlist {
  background-color: #218838;
}

.not-in-watchlist:hover {
  background-color: #37b24d;
}

.list-buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 0.625rem;
}

.add-to-list-container {
  position: relative;
}

.add-to-list-button {
  background-color: #087f5b;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.add-to-list-button:hover {
  background-color: #0c6b4e;
  transition: all 0.3s ease;
}

.list-dropdown {
  max-height: 15.625rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  width: 12.5rem;
}

.user-list {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.list-dropdown li {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  justify-content: space-between;
  cursor: pointer;
}

.list-dropdown li:hover {
  background-color: #f0f0f0;
}

.navigate-icon {
  cursor: pointer;
  padding: 0.25rem;
}

.navigate-icon:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.movie-cast {
  margin-top: 2.5rem;
}

.movie-cast h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.cast-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  gap: 1.25rem;
}

@media screen and (max-width: $bp-medium) {
  .movie-header {
    flex-direction: column;
    align-items: center;
  }
}