<div class="movie-details-container">
  <div class="movie-header">
    <img
      [src]="movieDetails?.posterPath"
      alt="{{ movieDetails?.title }}"
      class="movie-poster"
    />
    <div class="movie-info">
      <h1 class="movie-title">{{ movieDetails?.title }}</h1>
      <p class="movie-genres">
        <strong>Genres:</strong> {{ movieDetails?.genres?.join(", ") }}
      </p>
      <p class="movie-overview">
        <strong>Overview:</strong>
        {{ movieDetails?.overview }}
      </p>
      <p class="movie-meta">
        <span
          ><strong>Release Date:</strong>
          {{ movieDetails?.releaseDate | date }}</span
        >
        <span
          ><strong>Runtime:</strong>
          {{ getFormattedTime(movieDetails!.runtime) }}</span
        >
        <span><strong>Director:</strong> {{ movieDetails?.director }}</span>
      </p>
      <p class="movie-rating">
        <strong>Average Rating:</strong>
        {{ movieDetails?.averageRating?.toFixed(2) }} / 10
        <star-solid-icon class="star-icon" />
      </p>
      <div class="list-buttons">
        <div
          class="watchlist-button"
          (click)="toggleWatchlist()"
          [class.in-watchlist]="inWatchlist"
          [class.not-in-watchlist]="!inWatchlist"
        >
          @if(inWatchlist){
          <check-outline-icon />
          <p>In watchlist</p>
          } @else {
          <plus-outline-icon />
          <p>Add to Watchlist</p>
          }
        </div>
        <div class="add-to-list-container">
          <button class="add-to-list-button" (click)="toggleListDropdown()">
            Add to List
          </button>
          <ul *ngIf="showListDropdown" class="list-dropdown">
            <li [routerLink]="['/create-list']">
              <p>Create new list</p>
              <chevron-right-outline-icon />
            </li>
            <li
              *ngFor="let list of userLists"
              (click)="toggleMovieInList(list.watchlistId)"
            >
              <div class="user-list">
                @if(list.movieIds.includes(movieId)){
                <check-outline-icon />
                } @else {
                <plus-outline-icon />
                }
                {{ list.title }}
              </div>
              <chevron-right-outline-icon
                class="navigate-icon"
                (click)="navigateToList($event, list.watchlistId)"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-cast">
    <h2>Cast</h2>
    <div class="cast-list">
      <app-actor
        *ngFor="let actor of movieDetails?.cast"
        [actor]="actor"
        (actorClicked)="onActorClick($event)"
      ></app-actor>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
