.movie-details-container {
  margin: 0 auto;
  padding: 20px;
  font-family: "Rubik", sans-serif;
}

.movie-header {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.movie-poster {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-genres,
.movie-overview,
.movie-meta,
.movie-rating {
  margin-bottom: 15px;
  line-height: 1.5;
}

.movie-meta {
  display: flex;
  flex-direction: column;
}

.watchlist-button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.watchlist-button:hover {
  transform: scale(1.05);
}

.in-watchlist {
  background-color: #28a745;
}

.in-watchlist:hover {
  background-color: #218838;
}

.not-in-watchlist {
  background-color: #218838;
}

.not-in-watchlist:hover {
  background-color: #37b24d;
}

.list-buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.add-to-list-container {
  position: relative;
}

.add-to-list-button {
  background-color: #087f5b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-list-button:hover {
  background-color: #0c6b4e;
  transition: all 0.3s ease;
}

.list-dropdown {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  width: 150px;
}

.list-dropdown li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.list-dropdown li:hover {
  background-color: #f0f0f0;
}

.movie-cast {
  margin-top: 40px;
}

.movie-cast h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cast-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
}
