.tabs {
  margin-bottom: 1.25rem;
}

.tabs a {
  text-decoration: none;
  padding: 0.625rem 0.938rem;
  color: black;
}

.tabs a.active {
  font-weight: bold;
  border-bottom: 0.125rem solid #007bff;
  color: #007bff;
}

.movie-content-container {
  padding: 0.313rem;
}
