<div class="movies-container">
  <app-search-bar
    [placeholder]="'searchBar.placeholder' | translate"
    (movieSelected)="onSearchMovieSelected($event)"
  ></app-search-bar>

  <h2 class="title">{{ 'movies.heading' | translate }}</h2>
  <div class="page">
    <app-movie
      *ngFor="let movie of page?.movieList"
      [movie]="movie"
      [inWatchlist]="movieWatchlistStatus[movie.id] || false"
      (movieClicked)="onMovieClick($event)"
    ></app-movie>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages ?? 0"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
