<div class="user-watchlist">
  <h2>{{watchlist()?.title}}</h2>
  <p class="last-added">
    {{ 'watchlist.lastAdded' | translate }} {{ watchlist()?.updatedAt + "Z" | date : "medium" }}
  </p>
  <div class="sort-figure">
    <p class="total-titles">{{ watchlist()?.totalMovies }} titles</p>
    <select class="sort-options" (change)="sortMovies($event)">
      <option value="default" disabled selected>{{ 'watchlist.sortBy.placeholder' | translate }}</option>
      <option value="title">{{ 'watchlist.sortBy.title' | translate }}</option>
      <option value="averageRating">{{ 'watchlist.sortBy.rating' | translate }}</option>
    </select>
  </div>
  <div class="watchlist">
    <app-movie
      *ngFor="let movie of sortedMovies"
      [movie]="movie"
      [rating]="+movie.averageRating.toFixed(2)"
      [inWatchlist]="true"
      (movieClicked)="onMovieClick($event)"
    ></app-movie>
  </div>
</div>
