@import '../../base';

.add-review-button {
  width: 12.5rem;
  background-color: #087f5b;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.add-review-button:hover {
  background-color: #0c6b4e;
  transition: all 0.3s ease;
}

.add-review-button:active {
  background-color: #0c9169;
}

.add-review-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reviewed-message {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #37b24d;
  font-weight: bold;
}

.reviews-header div {
  position: relative;
}

.message {
  position: absolute;
  bottom: 2.188rem;
  left: 0;
  margin: 0;
  padding: 0.313rem 0.625rem;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 0.313rem;
  font-size: 0.875rem;
  color: #856404;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-review-form {
  margin: 1.25rem 0;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.add-review-form textarea {
  margin: 0.625rem 0;
  width: 100%;
  font-size: 0.875rem;
  resize: none;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.rating-stars .star {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ccc;
  margin-right: 0.313rem;
}

.rating-stars .star.selected {
  color: #f5a623;
}

.rating-stars .star,
.rating-stars .star:hover ~ .star {
  color: #222;
  text-shadow: none;
  transition: color 200ms, text-shadow 200ms;
  transition-delay: 0;
}

.rating-stars:hover .star {
  color: #fc0;
  text-shadow: #fc0 0 0 1.25rem;
}

.submit-button {
  background-color: #2f9e44;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #40c057;
  transition: all 0.3s ease;
}

@media screen and (max-width: $bp-small) {
  .rating-stars {
    flex-direction: column;
  }
}

@media screen and (max-width: $bp-smallest) {
  .reviews-header {
    flex-direction: column;
  }

  .add-review-button {
    width: 100%;
  }

  .message {
    position: static;
    font-size: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .rating-stars .star {
    font-size: 1rem;
  }
}