<div class="reviews-container">
  <div class="reviews-header">
    <h1>{{ 'reviews.heading' | translate }}</h1>
    <div>
      <button
        class="add-review-button"
        (click)="toggleReviewForm()"
        [disabled]="!isLoggedIn || hasReviewed"
      >
        {{ 'reviews.button.addReview' | translate }}
      </button>
      <p *ngIf="!isLoggedIn" class="message">
        {{ 'reviews.message.loginRequired' | translate }}
      </p>
      <p *ngIf="hasReviewed" class="message">
        {{ 'reviews.message.alreadyReviewed' | translate }}
      </p>
    </div>
  </div>

  <div class="add-review-form" *ngIf="showReviewForm">
    <form [formGroup]="reviewForm" (submit)="submitReview()">
      <label for="content">{{ 'reviews.form.label.content' | translate }}</label>
      <textarea
        id="content"
        formControlName="content"
        rows="4"
        [placeholder]="'reviews.form.placeholder.content' | translate"
      ></textarea>
      <div class="rating-stars">
        <label for="rating">{{ 'reviews.form.label.rating' | translate }}</label>
        <div>
          <ng-container *ngFor="let star of stars; let index = index">
            <i
              class="star"
              [class.selected]="reviewForm.get('rating')?.value > index"
              (click)="setRating(index + 1)"
            >
              ★
            </i>
          </ng-container>
        </div>
      </div>
      <button
        class="submit-button"
        type="submit"
        [disabled]="reviewForm.invalid"
      >
       {{ 'reviews.form.button.submit' | translate }}
      </button>
    </form>
  </div>
  <div class="reviews-list">
    @if(reviews.length === 0) {
     <p>{{ 'reviews.empty' | translate }}</p>
      }
    <app-review
      *ngFor="let review of reviews"
      [review]="review"
      [highlight]="isUserReview(review)"
      [isYourReview]="review.userId === userId"
      [isLoggedIn]="isLoggedIn"
      [userId]="userId!"
      (onDelete)="deleteReview($event)"
    ></app-review>
  </div>
</div>
