<div class="custom-list">
  <div class="list-item">
    <div class="poster-container">
      @if(firstMoviePoster){
      <img
        [src]="firstMoviePoster"
        alt="Movie Poster"
        class="movie-poster"
        [routerLink]="['/list', watchlistId()]"
      />
      } @else {
      <img
        class="placeholder-img"
        src="https://placehold.co/80x120?text=No+Movies+Yet"
        [routerLink]="['/list', watchlistId()]"
      />
      }
    </div>
    <div class="meta-container">
      <h3 class="title" [routerLink]="['/list', watchlistId()]">
        {{ title() }}
      </h3>
      <p>{{ movieIds().length }} titles</p>
      <archive-box-x-mark-solid-icon
        class="delete-icon"
        (click)="onDeleteClicked()"
      />
    </div>
  </div>
</div>
