<div class="w-75">
    <div class="form-container">
  
      <h2>{{ 'resetPassword.heading' | translate }}</h2>
  
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
        <div class="form-field flex">
            <div class="w-25">
              <label for="email" class="form-label pt">{{ 'resetPassword.label.email' | translate }}</label>
            </div>
    
            <div class="flex-1">
              <input
                type="text"
                id="email"
                class="form-input"
                formControlName="email"
                readonly
              />
            </div>
          </div>
    
          <div class="form-field flex">
            <div class="w-25">
              <label for="password" class="form-label pt">{{ 'resetPassword.label.newPassword' | translate }}</label>
            </div>
    
            <div class="flex-1">
              <input
                type="password"
                id="password"
                class="form-input"
                formControlName="password"
              />
            </div>
          </div>
  
        <div class="form-field flex">
          <div class="w-25"></div>
  
          <div class="flex-1">
           <button type="submit" class="button button-green-back">{{ 'resetPassword.button.submit' | translate }}</button>
          </div>
        </div>
        
        @if(errorMessage){
          <div class="text-red">
            {{ errorMessage }}
          </div>
        }

        @if(successMessage){
          <div class="text-success">
            {{ successMessage }}
          </div>
        }

      </form>
    </div>
  </div>
