<div class="user-watchlist">
  <div class="watchlist-header">
    <h2 *ngIf="!isEditingTitle">{{ watchlist()?.title }}</h2>
    <input
      *ngIf="isEditingTitle"
      type="text"
      [(ngModel)]="newTitle"
      class="edit-title-input"
      maxlength="100"
    />
    <button
      *ngIf="!isEditingTitle"
      class="edit-title-button"
      (click)="enableTitleEdit()"
    >
      {{ 'customListDetails.button.editTitle' | translate }}
    </button>
    <div *ngIf="isEditingTitle" class="edit-title-actions">
      <button
        class="save-title-button"
        (click)="saveTitle()"
        [disabled]="newTitle === watchlist()?.title"
      >
        {{ 'customListDetails.button.save' | translate }}
      </button>
      <button class="cancel-title-button" (click)="cancelTitleEdit()">
        {{ 'customListDetails.button.cancel' | translate }}
      </button>
    </div>
  </div>
  <p class="last-added">
    {{ 'customListDetails.lastAdded' | translate }} {{ watchlist()?.updatedAt + "Z" | date : "medium" }}
  </p>
  <p class="total-titles">{{ watchlist()?.totalMovies }} titles</p>
  <div class="watchlist">
    <app-movie
      *ngFor="let movie of watchlist()?.movies"
      [movie]="movie"
      [rating]="+movie.averageRating.toFixed(2)"
      [inWatchlist]="movieWatchlistStatus[movie.id]"
      [watchlistId]="watchlist()?.id"
      (movieClicked)="onMovieClick(movie.id)"
      (movieRemoved)="onMovieRemoved(movie.id)"
    ></app-movie>
  </div>
</div>
