<div class="form-container">
  <p class="create-title">{{ 'createList.heading' | translate }}</p>

  <form [formGroup]="newListForm" (ngSubmit)="addNewList()">
    <label class="form-label" for="newListTitle">{{ 'createList.label.title' | translate }}</label>
    <input
      id="newListTitle"
      class="form-input"
      formControlName="title"
      maxlength="100"
      [placeholder]="'createList.input.placeholder' | translate"
    />

    <button class="create-button" type="submit" [disabled]="newListForm.invalid">{{ 'createList.button.submit' | translate }}</button>
  </form>
</div>
